<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rockfontech</title>
</head>
<body>
  <div class="background">
    <nav class="navbar">
      <div class="icon"></div>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>
    <div class="content-container">
      <!-- Your own content here -->
      <app-chart></app-chart>
      <app-table></app-table>
    </div>
  </div>
  

</body>
</html>


